﻿@model IEnumerable<Skiffie.Models.IP>

<table class="table-condensed table-bordered table-striped">
    <tr>
        <th>Blocked IP</th>
        <th>Comments</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReadIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
    </tr>
}
</table>
