﻿@model Skiffie.Models.APCreate
<span class="APParentSpan col-md-12">
    <input type="hidden" value="-1" name="" />

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.APName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.APName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.APName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        <div class="col-md-12">
            @Html.EnumDropDownListFor(model => model.APState, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.APState, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.APComment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.APComment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.APComment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-offset-10 col-md-2">
        <button type="button" class="btn btn-block btn-danger RemoveAP" value="remove">Remove AP</button>
    </div>
</span>