﻿@model IEnumerable<Skiffie.Models.APCreate>

@foreach (var item in Model){
    <span class="APParentSpan col-md-12">
        @Html.HiddenFor(model => item.APCreateID, htmlAttributes: new { @class = "thisAPId" })

        <div class="form-group col-md-4">
            @Html.LabelFor(model => item.APName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => item.APName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.APName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-2">
            <div class="col-md-12">
                @Html.EnumDropDownListFor(model => item.APState, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => item.APState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => item.APComment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => item.APComment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.APComment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-offset-10 col-md-2">
            <button type="button" class="btn btn-block btn-danger RemoveExistingAP" value="remove" data-id="@item.APCreateID">Remove AP</button>
        </div>
</span>
}