﻿@model Skiffie.Models.Tower

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstallZone.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallZone.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TowerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TowerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subnet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subnet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TowerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
