﻿@model Skiffie.Models.TowerEdit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TowerEdit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TowerEditID, htmlAttributes: new {@class="IPManage"})

        <div class="form-group">
            @Html.LabelFor(model => model.TowerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TowerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TowerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstallZoneId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InstallZoneId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InstallZoneId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subnet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.DisplayFor(model => model.Subnet, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-md-9">
                <button type="button" id="ManageIPButton" class="btn btn-success">Manage</button>
            </div>
        </div>

        <div class="form-group col-md-12 IPManager" hidden>
            @Html.Label("Start of Range:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.Editor("StartIP", "", new { htmlAttributes = new { @class = "form-control IPManage" } })
            </div>
            @Html.Label("End of Range:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.Editor("EndIP", "", new { htmlAttributes = new { @class = "form-control IPManage" } })
            </div>
            <div class="col-md-1"><button type="button" id="BlockIPs" class="btn btn-danger">Block</button></div>
            <div class="col-md-1"><button type="button" id="AllowIPs" class="btn btn-success">Permit</button></div>
            <div class="col-md-2"></div>
        </div>
        <div class="form-group col-md-12 IPManager" hidden>
            @Html.Label("Comments:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.Editor("Comments", "", new { htmlAttributes = new { @class = "form-control IPManage" } })
            </div>
            <div id="IPManagerMessage" class="col-md-6"></div>
        </div>
        <div class="form-group col-md-12 IPManager" id="CurrentBlockedIPs" hidden>
            Loading...
        </div>
        <div class="col-md-12">
            @Html.Label("Access Points:")
        </div class>
        @for (int i = 0; i < Model.APs.Count(); i++)
        {
            <div class="APParentSpan col-md-12">
                @Html.HiddenFor(model => model.APs[i].AccessPointID, htmlAttributes: new { @class = "thisAPId" })

                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.APs[i].Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APs[i].Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.APs[i].Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <div class="col-md-12">
                        @Html.EnumDropDownListFor(model => model.APs[i].CurrentState, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.APs[i].CurrentState, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.APs[i].Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APs[i].Comment, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.APs[i].Comment, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-offset-10 col-md-2">
                    <button type="button" class="btn btn-block btn-danger RemoveExistingAP" value="remove">Remove AP</button>
                </div>
            </div>
        }

        <span id="APs"></span>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-6">
                <button type="button" class="btn btn-success" id="AddAP">Add AP</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/TowerCreate.js")
    @Scripts.Render("~/Scripts/TowerAdmin.js")
}
