﻿@model IEnumerable<Skiffie.Models.Tower>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<span id="messages"></span>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TowerName)
        </th>
        <th>
            Zone
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subnet)
        </th>
        <th>
            Access Points
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TowerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstallZone.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subnet)
        </td>
        <td>
            <table class="APTable">
                <tr>
                    @foreach (var AP in item.APs)
                    {
                        <td>
                            @Html.Encode(AP.Name)
                        </td>
                    }
                </tr>
                <tr>
                    @foreach (var AP in item.APs)
                    {
                        <td>
                            @Html.EnumDropDownListFor(modelItem => AP.CurrentState, htmlAttributes: new { @class = "ChangeAPState", @apid = AP.AccessPointID})
                        </td>
                    }
                </tr>
            </table>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TowerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TowerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TowerID })
        </td>
    </tr>
}

</table>

@section Scripts{
    @Scripts.Render("~/Scripts/TowerAdmin.js")
}