﻿@model Skiffie.Models.Customer

@Html.Hidden("CustomerID", Model.CustomerID)
<div class="form-group col-md-12">
    @Html.LabelFor(model => model.CustomerState, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DisplayFor(model => model.CustomerState)
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        <a href="https://maps.google.ca/?q=@(Html.DisplayFor(model => model.Address))">@Html.DisplayFor(model=>model.Address)</a>
    </div>
</div>

<div class="form-group col-md-12">
    @Html.Label("Dial Phone Number", htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        9@(Html.DisplayFor(model => model._PhoneNumber))
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.PPPoEUser, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DisplayFor(model => model.PPPoEUser)
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.PPPoEPassword, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DisplayFor(model => model.PPPoEPassword)
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.CustomerSpeed, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DisplayFor(model => model.CustomerSpeed)
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.TowerId, "Tower", htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DisplayFor(model => model.Tower.TowerName)
        @Html.HiddenFor(model => model.TowerId)
    </div>
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.IPID, "IP", htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.DisplayFor(model => model.IP.ReadIP)
    </div>
</div>

<div class="form-group col-md-4 col-md-offset-1">
    @Html.ActionLink("Edit", "Edit/" + Model.CustomerID, null, htmlAttributes: new { @class = "btn btn-success btn-block" })
</div>