﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*Some stuff for clickables.*/
.divPartialViewCreator{
    display:inline-block;
}

/*fix for ios bug*/
.AppointmentRow{
    cursor: pointer;
}

.CustomerRow{
    cursor:pointer;
}

.suggestionTypeDivider{
    width:30%;
    height:4px;
    background: linear-gradient(to right, #8888FF, white);
    margin-bottom:3px;
}
.suggestionDivider{
    margin-top:10px;
    padding-bottom:10px;
    margin-bottom:10px;
}
.commentSection{
    margin-top:5px;
}
.commentSuggestion{
    margin-top:2px;
}

.commentShown :hover{
    color:blue;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}add-migration init

.minitable td {
    justify-content:center;
    text-align: center;
}
.minitable th {
    padding-left:4px;
    padding-right:4px;
    text-align: center;
    justify-content:center;
}
.minitable tr{
    border-bottom:1px;
    border-left:0px;
    border-right:0px;
    border-top:0px;
    border-color:grey;
}

.compacttable td{
    padding-left:0px;
    padding-right:4px;
    border-style:solid;
    border-top:0;
    border-left:0;
    border-right:2px;
    border-right-color:;
    border-bottom:0;
}

.table-date{
    cursor: pointer;
    font-size: 14px;
    padding: 14px;
    text-align:center;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    color: #FFF;
    border:solid;
    border-color:#fff;

}
.table-good{
    background-image: linear-gradient(#88C149, #73A839 60%, #699934);
    background-repeat: no-repeat;
    filter: none;
    border-bottom: 1px solid #88C149;
}
.table-caution{
    background-image: linear-gradient(#FF6707, #DD5600 60%, #C94E00);
    background-repeat: no-repeat;
    filter: none;
    border-bottom: 1px solid #FF6707;
}
.table-error{
    background-image: linear-gradient(#E12B31, #C71C22 60%, #B5191F);
    background-repeat: no-repeat;
    filter: none;
    border-bottom: 1px solid #E12B31;
}
.toggleSuggestionIcon{
    text-align:right;
    float:right;
    display:inline-block;
    cursor:pointer;
}

.faded{
    opacity: 0.2;
}