﻿@model Skiffie.Models.AppointmentCancelModel

<h3>Are you sure you wish to cancel this appointment?</h3>
<div class="col-md-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col-md-8">
            <div class="col-md-4">@Html.LabelFor(model => model.Comments)</div>
            <div class="col-md-8">@Html.TextAreaFor(model => model.Comments, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })</div>
        </div>

        <div class="col-md-4">
            @Html.LabelFor(model => model.NewCustomerState, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.NewCustomerState, (IEnumerable<SelectListItem>)ViewBag.CustomerState, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewCustomerState, "", new { @class = "text-danger" })
        </div>

        <div class="form-actions no-color col-md-4">
            <input type="submit" value="Cancel" class="btn btn-danger btn-block" />
        </div>
        <div class="col-col-md-8"></div>
    }
</div>