﻿@model Skiffie.Models.AppointmentCancelModel

<h3>Are you sure you wish to DELETE this appointment?</h3>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-4">
            <input type="submit" value="Delete" class="btn btn-danger btn-block" />
        </div>
    }
</div>
