﻿@model Skiffie.Models.AppointmentCancelModel

<h3>Are you sure you wish to fail this appointment?</h3>
<div>
    <dt>
        @Html.DisplayNameFor(model => model.Comments)
    </dt>

    <dd>
        @Html.EditorFor(model => model.Comments)
    </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-4">
            <input type="submit" value="Fail" class="btn btn-danger btn-block" />
        </div>
    }
</div>