﻿@model Skiffie.Models.Schedule

@{
    ViewBag.Title = "CheckDate";
}

<h2>CheckDate - @ViewBag.Date</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Zone")
        </th>
        <th>
            @Html.DisplayName("Timeslot")
        </th>
        <th>
            @Html.DisplayName("Openings")
        </th>
    </tr>
    @foreach(var item in Model.Openings)
    {
        <tr>
            <td>
                @item.InstallZone.Name
            </td>
            <td>
                @item.TimeSlot.Name
            </td>
            <td>
                @item.AvailableAmount/@item.Amount
            </td>
        </tr>
    }
</table>