﻿@model Skiffie.Models.AppointmentCreateModel

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <span id="PullCustomersOnStartCreate" hidden></span>
    <div class="col-md-6">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.AppointmentType, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EnumDropDownListFor(model => model.AppointmentType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AppointmentType, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.TimeSlotID)
        @Html.HiddenFor(model => model.Date)
 
        <div class="form-group col-md-12">
            @Html.Label("Appointment Time:", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <span id="DateTimeSlot">Select Below</span>
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    
    <div class="col-md-6">
        <div class="form-group col-md-12">
            @Html.Label("Filter Name:", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBox("FilterName", "", htmlAttributes: new { @class = "form-control filterCustomersAppointment" })
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.Label("Filter Phone:", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBox("FilterPhone", "", htmlAttributes: new { @class = "form-control filterCustomersAppointment" })
            </div>
        </div>

        <div class="form-group col-md-12" id="CurrentCustomer">
            Loading...
        </div>
        
        <div class="col-md-4"><button class="btn btn-success btn-block" type="button" id="UpdateCustomerList">Update List</button>    </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"><button class="btn btn-success btn-block" type="button" id="OpenCreateCustomer">New Customer...</button></div>
    </div>
    
    <div class="col-md-12" id="ScheduleDiv">
        Please select tower or customer to fill in schedule.
    </div>

    <div class="form-group col-md-12">
        <div class="col-md-offset-4 col-md-8">
            <button class="btn btn-primary" type="submit" id="createAppointment">Create Appointment</button>
        </div>
    </div>
}

<div id="CreateCustomerDialog">
    @Html.Action("CreateCustomerPartial", "Customers")
</div>