﻿@model Skiffie.Models.AppointmentViewModel

@{
    ViewBag.Title = "Appointment View";
}

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal col-md-6 col-sm-12">
        @Html.HiddenFor(model=>model.AppointmentViewModelId)
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date) @Html.DisplayFor(model => model.TimeSlot.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        @Html.Action("FieldTechDD", new { id = Model.AppointmentViewModelId })

        <dt>
            @Html.DisplayNameFor(model => model.CurrentState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentState)
        </dd>

        <span id="comments">
            @Html.Action("GetComments")
        </span>

        <dt>Add comment:</dt>

        <dd>@Html.TextArea("AppointmentComments")</dd>
        
        
        <dt>
            
        </dt>
        <dd>
            <button class="btn btn-success" type="button" value="addcomment" id="AddAppointmentComment">Add...</button>
        </dd>
    </dl>

    <dl class="dl-horizontal col-md-6 col-sm-12">
        @Html.Action("CustomerView", "Customers", new {CustomerID = Model.CustomerID })
    </dl>

    <span class="col-md-12">
        @foreach (Skiffie.Models.NavigationBars action in ViewBag.Actions)
        {
            <span class="col-md-2 col-lg-2 col-sm-4"><button class="btn btn-primary btn-block appointmentActionButton" data-action="@action.Action" data-value="@Model.AppointmentViewModelId">@action.Name</button></span>
        }
    </span>

    <div class="col-md-8 col-md-offset-2" id="subView" hidden>

    </div>
</div>
@section Scripts {}