﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ksvaerdstaal@teksavvy.ca
    kristofer.svardstal@gmail.com
    kris@cmoastudios.com
</address>

<address>
    <strong>Emergency Contact:</strong> 226-627-8783 <br />
</address>