﻿@{
    ViewBag.Title = "Home Page";
}

<!--Put alert here.-->
<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
-->

<div class="row">    
    <div class="col-md-12 col-sm-12">
        <h2>Upcoming Appointments</h2>
        <div id="UpcomingAppointments">Loading...</div>
    </div>
    <div class="col-md-12 ceol-sm-12 hidden-xs">
        <h2>Upcoming schedule:</h2>
        <div id="ScheduleDiv">Loading...</div>
    </div>
    <div class="col-md-12 hidden-sm hidden-xs">
        <h2>Tower Status:</h2>
        <div id="TowerStatus">Loading...</div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/frontpage.js")
}