﻿@model IEnumerable<Skiffie.Models.Schedule>

<table class="minitable">

    @Html.Hidden("SchedDate", (DateTime) ViewBag.SettingsDate)
    @Html.Hidden("SchedTimeSlot", (string)ViewBag.SettingsTimeSlot)
    @Html.Hidden("SchedLocation", (string)ViewBag.SettingsLocation)
    @Html.Hidden("SchedDateCount", (int)ViewBag.SettingsDateCount)
    @Html.Hidden("SchedFindStartOfWeek", (bool)ViewBag.SettingsFindStartOfWeek)
    @Html.Hidden("SchedCustomerID", (int)ViewBag.SettingsCustomerID)
    @Html.Hidden("SchedTowerID", (int)ViewBag.SettingsTowerID)
    @Html.Hidden("SchedPrevDate", (DateTime)ViewBag.SettingsDate.AddDays(-ViewBag.SettingsDateCount))
    @Html.Hidden("SchedNextDate", (DateTime)ViewBag.SettingsDate.AddDays(ViewBag.SettingsDateCount))

    <tr>
        <th></th>
        @foreach (var item in Model)
        {
            <th>@item.Date.ToString("MM-dd")<br />
            @item.Date.DayOfWeek.ToString().Substring(0, 3)
            </th>
            //first do the header for the dates.
        }
    </tr>
    @foreach (Skiffie.Models.InstallZone InstallZones in ViewBag.InstallZones)
    {
        foreach(Skiffie.Models.TimeSlot TimeSlots in ViewBag.TimeSlots)
        {
            <tr>
                <th>
                    @InstallZones.Name-@TimeSlots.Name
                </th>
                @foreach (var item in Model)
                {
                    foreach (var opening in item.Openings.Where(x => x.TimeSlotId == TimeSlots.TimeSlotID && x.InstallZoneId == InstallZones.InstallZoneId))
                    {
                        <td>
                            @if (opening.AvailableAmount <= 0)
                            {
                                <button type="button" class="btn btn-danger  appointmenttimepicker" data-date="@item.Date.ToString("yyyy-MM-dd")" data-timeslot="@opening.TimeSlotId" data-timeslotname="@TimeSlots.Name">@opening.AvailableAmount</button>
                            }
                            else if (opening.AvailableAmount == 1)
                            {
                                <button type="button" class="btn btn-warning appointmenttimepicker" data-date="@item.Date.ToString("yyyy-MM-dd")" data-timeslot="@opening.TimeSlotId" data-timeslotname="@TimeSlots.Name">@opening.AvailableAmount</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success appointmenttimepicker" data-date="@item.Date.ToString("yyyy-MM-dd")" data-timeslot="@opening.TimeSlotId" data-timeslotname="@TimeSlots.Name">@opening.AvailableAmount</button>
                            }
                        </td>
                    }
                }
            </tr>
        }
    }
</table>
<ul class="pager col-md-4 col-sm-12">
    <li><a href="#" id="PreviousSchedulePage">Previous</a></li>
    <li><a href="#" id="NextSchedulePage">Next</a></li>
</ul>