﻿@model Skiffie.Models.Customer

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "CustomerForm" }))
{
    <span id="CustomerValidationSummary"></span>
    <div class="form-group CreateNewCustomer">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group CreateNewCustomer">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group CreateNewCustomer">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group CreateNewCustomer">
        @Html.LabelFor(model => model.PPPoEUser, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.PPPoEUser, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PPPoEUser, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group CreateNewCustomer">
        @Html.LabelFor(model => model.PPPoEPassword, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.PPPoEPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PPPoEPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group CreateNewCustomer">
        @Html.LabelFor(model => model.TowerId, "TowerId", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DropDownList("TowerId", null, "-Select a Tower-", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TowerId, "", new { @class = "text-danger" })
        </div>
    </div>
    
    @Html.Hidden("CustomerState", Skiffie.Models.Customer.CustomerStatus.Hold, htmlAttributes: new { @class = "form-group" });

    <div id="IPField" class="CreateNewCustomer form-group">

    </div>

    <div class="form-group CreateNewCustomer">
        @Html.LabelFor(model => model.CustomerSpeed, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DropDownList("CustomerSpeed", EnumHelper.GetSelectList(typeof(Skiffie.Models.Customer.Speed)), "-Select Speed-", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerSpeed, "", new { @class = "text-danger" })
        </div>
    </div>
}

<span class="col-md-12">
    <div class="col-md-4"><button type="button" class="btn btn-success" id="CreateCustomerFromPartial">Create</button></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"><button type="button" class="btn btn-danger" id="CancelCustomerFromPartial">Cancel</button></div>
</span>


@section Scripts {
    @Scripts.Render("~/Scripts/customer.js")
}