﻿@model IEnumerable<Skiffie.Models.Appointment>

<table class="table table-striped table-hover ">
    @foreach (var item in Model)
    {
        <tr class="AppointmentRow" data-appointmentID="@item.AppointmentID">
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlot.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.AppointmentType)
            </td>
        </tr>
    }
</table>