﻿@model IEnumerable<Skiffie.Models.Tower>

<table class="table table-striped table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <th rowspan="1">
                @Html.DisplayFor(modelItem => item.TowerName) - @Html.DisplayFor(modelItem => item.InstallZone.Name)
            </th>
            @foreach (Skiffie.Models.AccessPoint AP in item.APs)
            {
                <td>
                    @AP.Name<br />@AP.CurrentState.ToString()
                </td>
            }
        </tr>
    }
</table>