﻿@model Skiffie.Models.Openings

@for (var i = 0; i < 7; i++)
{
        <label class="control-label col-md-2">
            @Html.Encode(Enum.GetName(typeof(DayOfWeek),i))
        </label>
        <table class="schedule">
            <tr>
                <td></td>
                @foreach (var y in ViewBag.InstallZones)
            {
                    <th>@Html.Encode(y.Name)</th>
            }
            </tr>
            @foreach (var x in ViewBag.TimeSlots)
        {
                <tr>
                    <th>@Html.Encode(x.Name)</th>
                    @foreach (var y in ViewBag.InstallZones)
                {
                        <td>
                            @{
                    Model.Day = i;
                    Model.TimeSlotId = x.TimeSlotID;
                    Model.InstallZoneId = y.InstallZoneId;
                            }
                            @Html.HiddenFor(model => model.Day)
                            @Html.HiddenFor(model => model.InstallZoneId)
                            @Html.HiddenFor(model => model.TimeSlotId)
                            @Html.EditorFor(model => model.Amount)
                        </td>
                }
                </tr>
        }
        </table>
        }
